* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Gabarito', cursive;
  background: linear-gradient(0deg,
      rgba(67, 81, 133, 1) 0%,
      rgba(16, 39, 79, 1) 100%);
  background-attachment: fixed;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #fff;

  &__logo {
    font-size: 2rem;

    i {
      font-size: 2rem;
      margin-right: 0.25rem;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    gap: 2rem;

    @media (max-width: 768px) {
      display: none;
    }

    a {
      color: #fff;
      text-decoration: none;
      padding: 1rem;
    }
  }

  &__getStarted {
    cursor: pointer;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    outline: none;
    background-color: rgb(66, 32, 218);
    color: #fff;
    font-weight: 600;
    box-shadow: none;
    border: none;
  }
}


.hero {
  margin-top: 7rem;
  text-align: center;
  color: #fff;


  @media (max-width: 768px) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  &__title {
    font-size: 6rem;

    @media (max-width: 768px) {
      font-size: 4rem;
    }

    @media (max-width: 576px) {
      font-size: 3rem;
    }


  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    margin-top: 1rem;

    @media (max-width: 576px) {
      font-size: .75rem;
    }
  }

  &__tryBtn {
    cursor: pointer;
    margin-top: 1.5rem;
    border-radius: 20px;
    padding: 1rem 3rem;
    outline: none;
    background-color: rgb(32, 119, 218);
    color: #fff;
    font-weight: 600;
    box-shadow: none;
    border: none;
  }
}

.todo {
  margin-top: 6rem;

  ul {
    list-style-type: none;
  }

  &__wrapper {
    margin: 0 auto;
    width: clamp(200px, 95%, 800px);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  &__mainTitle {
    font-size: 1.5rem;
    color: #5e7ce2;
    text-align: center;
    padding: 2rem;

    i {
      margin-left: 0.5rem;
    }
  }

  &__inputWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 0.5rem;
  }

  &__taskInput {
    padding: 1rem;
    border: none;
    font-size: 1rem;
    border-radius: 15px;
    color: #000;
    width: clamp(250px, 75%, 400px);

    @media (max-width: 376px) {
      padding: .5rem
    }

    &::placeholder {
      color: #828282;
      margin-left: 2rem;
    }
  }

  &__taskAddBtn {
    cursor: pointer;
    padding: 0.75rem;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #4a61ad;
    transition: .1s ease-in-out;

    @media (max-width: 376px) {
      padding: .25rem
    }

    &:hover {
      transition: .1 ease-in-out;
      background-color: #283b7c;

    }

    i {
      font-size: 1.5rem;
      color: #fff;
    }
  }

  &__taskContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #10274f;
    font-size: 1.25rem;
    margin: 4rem 0 2rem 2rem;
    width: clamp(250px, 90%, 800px);
  }

  &__newTask {
    position: relative;
    margin-left: 2rem;

    @media (max-width: 576px) {
      font-size: .75rem;
    }
  }

  &__singleTaskWrapper {
    padding-right: 4rem;
  }

  &__removeTaskBtn {
    position: absolute;
    top: 0;
    right: 2rem;
    cursor: pointer;
  }

  &__checkTask {
    position: absolute;
    top: 0;
    left: -2rem;
    cursor: pointer;
  }

  &__textThrough {
    text-decoration: line-through;
  }
}